@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .w-my {
    width: 30vw;
  }

  .gtc {
    grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
  }

  .tr-y {
    transform: translateY(-50%);
  }
  .cust-grid {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas: 'sidebar content';
  }
  .sidebar {
    grid-area: sidebar;
  }
  .content {
    grid-area: content;
  }
  button.dark {
    background-color: var(--dark-blue);
  }
}

@layer base {
  img {
    height: 13vw;
  }

  .imgH {
    height: 20vw;
  }

  @media screen and (max-width: 1023px) {
    img {
      height: 40vw;
    }
    .imgH {
      height: 50vw;
      width: 100%;
    }
  }
}

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-dm: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --very-light-gray: hsla(0, 0%, 52%, 0.1);
  --dark-gray: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 100%);
}

body {
  color: var(--very-dark-blue);
  background: var(--white);
}

body.dark {
  background: var(--very-dark-blue-dm);
  color: var(--white);
}

.interact-shadow:hover > div {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.checkbox-color:checked + svg {
  stroke: var(--white);
}

.container-wrap {
  overflow-wrap: break-word;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}
